* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}
.container {
    background-color: whitesmoke;
    min-height: 100vh;
    width: 60%;
    margin: auto;
}