* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
    min-height: 100vh;
}
.title {
    font-weight: bold;
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
}